<div class="row">
  <div class="col-sm-12 col-lg-8">
    <div class="mb-3 card" id="step1">
      <div class="card-header-tab card-header" style="background: rgba(219, 87, 26, 0.12); border-radius: 20px 0 0 0 !important;">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal" style="color: #DB571A;
        ">
          <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
          Activity
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="p-1 slick-slider-sm mx-auto">
          <div class="widget-chart widget-chart2 text-left p-0">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content widget-chart-content-lg pb-0">
                <div class="widget-chart-flex mb-3">
                  <div class="widget-title"><h4>You spent the most time in your <span style="font-weight: 800; color: #DB571A">bedroom</span></h4></div>
                </div>
              </div>
              <div class="widget-chart-wrapper he-auto opacity-10 m-0">
                <!-- <div class="d-block">
                  <canvas baseChart
                          class="chart"
                          [datasets]="datasets"
                          [labels]="labels"
                          [colors]="lineChartColors"
                          [options]="options"
                          [chartType]="'line'"></canvas>
                </div> -->
                <app-bar-chart></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="mb-3 card" id="step2">
      <div class="card-header-tab card-header" style="background: #C6DEF4; border-radius: 20px 0 0 0 !important;">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal" style="color: #3274B1;
        ">
          <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
          Medicines
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="p-1 slick-slider-sm mx-auto">
          <div class="widget-chart widget-chart2 text-left p-0">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content widget-chart-content-lg pb-0">
                <div class="widget-chart-flex mb-3">
                  <div class="widget-title"><h4>You forgot your <span style="font-weight: 800; color: #3274B1">afternoon</span> pills</h4></div>
                </div>
              </div>
              <div class="widget-chart-wrapper he-auto opacity-10 m-0 mt-2 mb-7">
                <div class="d-block">
                  <div style="display: flex; flex-direction: row; justify-content: center;" class="pt-2 pb-2">
                    <h6 style="margin-bottom: 0; align-self: center;">Morning</h6>
                    <img src="assets/images/icons/GreenTick.svg" class="ml-4" />
                  </div>
                  <div style="display: flex; flex-direction: row; justify-content: center;" class="pt-2 pb-2">
                    <h6 style="margin-bottom: 0; align-self: center;">Afternoon</h6>
                    <img src="assets/images/icons/RedCross.svg" class="ml-4" />
                  </div>
                  <div style="display: flex; flex-direction: row; justify-content: center;" class="pt-2 pb-2">
                    <h6 style="margin-bottom: 0; align-self: center;">Evening</h6>
                    <img src="assets/images/icons/GreenTick.svg" class="ml-4" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="mb-3 card" id="step3">
      <div class="card-header-tab card-header" style="background: #DDF0C8; border-radius: 20px 0 0 0 !important;">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal" style="color: #458925;
        ">
          <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
          Sleep
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="p-1 slick-slider-sm mx-auto">
          <div class="widget-chart widget-chart2 text-left p-0">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content widget-chart-content-lg pb-0">
                <div class="widget-chart-flex mb-3 mr-4">
                  <div class="widget-title"><h4>You were asleep for <span style="font-weight: 800; color: #458925">6 hours</span> and awake for <span style="font-weight: 800; color: #458925">2 hours</span> at night</h4></div>
                </div>
              </div>
              <div class="widget-chart-wrapper he-auto opacity-10 m-0">
                <div class="d-block">
                  <app-line-chart></app-line-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="mb-3 card" id="step4">
      <div class="card-header-tab card-header" style="background: #FFE8F0; border-radius: 20px 0 0 0 !important;">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal" style="color: #D02B67;
        ">
          <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
          Weight
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="p-1 slick-slider-sm mx-auto">
          <div class="widget-chart widget-chart2 text-left p-0">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content widget-chart-content-lg pb-0">
                <div class="widget-chart-flex mb-3">
                  <div class="widget-title"><h4>You've <span style="font-weight: 800; color: #D02B67">maintained</span> your target weight</h4></div>
                </div>
              </div>
              <div class="widget-chart-wrapper he-auto opacity-10 m-0">
                <div class="d-block">
                <app-dynamic-chart></app-dynamic-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>