<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <!-- <div class="logo-src"></div> -->
  <div class="app-header__content">
    <div class="app-header-left">
      <!-- <app-search-box></app-search-box> -->
      <img src="assets/images/icons/HealthTracker.svg" />
    </div>
    <div class="app-header-right">
      <button style="background: #275784;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      margin: 8px 0 8px 0;
      border-radius: 10px;
      padding: 8px 16px 8px 16px;
      color: white;
      font-size: 16px;"
      (click)="helpButtonPress()">HELP</button>
      <app-user-box></app-user-box>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
            [ngClass]="{'is-active' : globals.toggleSidebarMobile}" (click)="toggleSidebarMobile()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
  <div class="app-header__menu">
    <span>
        <button class="btn-icon btn-icon-only btn btn-primary" [ngClass]="{'is-active' : globals.toggleHeaderMobile}"
                (click)="toggleHeaderMobile()">
            <div class="btn-icon-wrapper">
                <fa name="ellipsis-v"></fa>
            </div>
        </button>
    </span>
  </div>
</div>
